<!DOCTYPE html>
<head>
	<style>
		body {
			padding-left: 50px;
			font-family: sans-serif;
		}
		
		img {
			width: 200px;
			height: 200px;
		}
		h1 {
			color: #480000;
			text-align: center;
		}

		li {
			color: #480000;
			padding-bottom: 15px;
			font-size: 16px;
			font-weight: bold;
			width: 33%;
			float: left;
			list-style-type: none;
		}
		table {
			width: 800px;
		}
		header {
			height: 100%;
			float: right;
			padding-right: 50px;
		}
		#logo {
			height: 70px;
			width: 70px;			
		}
		

	</style>


</head>
<body>
	<header>
		<img id = "logo" src = "http://globe-views.com/dcim/dreams/diamond/diamond-01.jpg"/>
	</header>
	<table>
		<td><a class="hyper" href="/sparkles">Home</a></td>

		<% if (admin) { %> 
			<td><a class="hyper" href="/sparkle/<%= category.id %>/edit">Edit Category</a></td>
			<td><a class="hyper" href="/category/<%= category.id %>/items/new"> Add a new Item</a></td>
		
			<td><form method="POST" action="/sparkle/<%= category.id %> ?_method=DELETE">
			<input type="submit" value="Delete" style="border:2px green solid;"/>
			</form></td>

			<td><form method="POST" action="/logout">
			<button style="border:2px green solid;">Logout</button></td>

		<% } %>
		</form>
	</table>
	<h1><%= category.name %></h1> 
</br>

<ul>
	<% for (var i = 0; i<items.length; i++) { %>

	<li>
		<%= items[i].name %></br></br>
		<a class="list" href="/item/<%= items[i].id %>"><img src="<%= items[i].image %>"></br></br></a>
		
	</li>
	<% } %> 
</ul></br>




</br></br></br>

<!-- <p><% if (admin) { %>
<p><form method="POST" action="/sparkle/<%= category.id %> ?_method=DELETE">
	<input type="submit" value="Delete" style="border:2px green solid;"/>
</form></p></br>
<p><% } %> -->

<br/>

</body>
</html>