<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  		<link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<title>Spark.le! Jewelry</title>
		<style>
			
		body {
			margin-top: 30px;
			background-color: #c9c9c9;
			font-family: amaranth;
		}

		.col-md-3 {
			padding-bottom: 20px;
		}

		h1 {
			color: #480000;
			text-align: center;
		}

		.item-name {
			text-align: center;
		}
		
		.center-block {
			width: 200px;
			height: 210px;
			border-radius: 5px;
		}
/*********   To remove clearfix the left column in .col-xs-6 extra small screen ***************/
		

		@media (max-width:730px){
			.col-xs-6:nth-child(2n+1) {
				clear: left;
			}

		}

		@media (min-width: 1024px) {
			.col-md-3:nth-child(4n+1) {
				clear: left;
			}
		}
		

	</style>


</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <!-- navbar starts here -->
		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Spark.le Jewelry</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          	<li><a href="/">Home</a></li>
          	<% if (admin) { %>
            	<li><a class="hyper" href="/sparkle/<%= category.id %>/edit">Edit Category</a></li>
            	<li><a class="hyper" href="/category/<%= category.id %>/items/new"> New Item</a></li>
            	<li><a method="GET" href="/logout">Logout</a></li>
            <% } %>
          </ul>
        </div>
      </div>
   	</div></br>
	<!-- navbar ends here  -->
		<h1><%= category.name %></h1></br>
				<div class = "container">
					<div class = "row">
						<% for (var i = 0; i<items.length; i++) { %>
							<div class = "col-md-3 col-sm-4 col-xs-6">
								<a class="list" href="/item/<%= items[i].id %>"><img class = "img-responsive center-block" src="<%= items[i].image %>"></a>
								<div class = "item-name">
									<%= items[i].name %>
								</div>
							</div>
						<% } %> 				
				</div>
			</div>

</body>
</html>